.search-filter {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

.board-list {
  display: flex;
  flex-wrap: wrap;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}
